<div style="display:flex">
  <div style="width: 800px;">

    <h1>Month Picker with Year Selection</h1>
    
    <calendar-month (onMonthSelected)="debug($event)"></calendar-month>

    <hr/>

    <h1>
      Month Range Picker w/ Presets
    </h1>

    <calendar-range (onRangeSelected)="debug($event)" [presets]="presets"></calendar-range>

  </div>


  <div style="margin-left: 200px; width: 400px;">
    <h1>Styles</h1>
    <hr/>
    <pre>
      <div *ngFor="let style of moduleStyles">
        <span>.{{ style.name + ' {' }} </span>
        <div style="margin-left: 65px">{{style.css}}</div>
        <span>}</span>
      </div>
    </pre>
  </div>

</div>