<div class="calendar-container">
  <div class="year-picker-container">
    <div class="button-container button-container-left">
      <button type="button" (click)="changeYear(-1)">
        <div>
          <div>&lt;</div>
        </div>
      </button>
    </div>
    <div style="flex-grow: 1;">
      <calendar (onMonthSelected)="monthSelection($event)" [year]="selectedYear"></calendar>
    </div>
    <div class="button-container button-container-right">
      <button type="button" (click)="changeYear(1)">
        <div>
          <div>&gt;</div>
        </div>
      </button>
    </div>
  </div>
</div>