<div style="flex-grow: 1;">
  <div class="calendar-year-container">
    <div class="calendar-year-input">
      {{ year }}
    </div>
  </div>
  <div class="calendar-month-container">
    <button class="calendar-month" *ngFor="let month of months; let idx = index;"     
        (click)="monthSelection(month)"
        [ngClass]="buttonStyleByMonth(month)">
        <span>{{ month }}</span>
    </button>
  </div>
</div>

<!-- <i aria-label="Previous Year" class="pcty-icon icon-chevron-right size-small pcty-color-gray-darker" title="Previous Year"></i>-->
